.ant-table-wrapper {
  @apply rounded-lg border bg-white;
}
.ant-table-thead {
  @apply px-4 py-2 text-center font-bold text-white;
}

.ant-table-cell {
  @apply font-robotoMono;
}

.ant-pagination-item {
  border: 1px solid #000 !important;
  background-color: #fff;
  color: #000;
}

.ant-pagination-item:hover {
  border-color: #333 !important;
}

.ant-pagination-item-active {
  background-color: #000 !important;
  border-color: #000 !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
}

/* Next/Prev buttons */
/* .ant-pagination-prev,
.ant-pagination-next {
  border: 1px solid #000 !important;
  color: #000;
} */

.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  border-color: #333 !important;
}

.ant-table-tbody > tr > td {
  border: none !important;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #e1e1e1 !important;
}

/* .ant-table-tbody > tr:last-child > td {
  border-bottom: 1px solid #e1e1e1 !important;
} */

.ant-table-tbody > tr > td:first-child {
  /* display: flex !important; */
  align-items: center !important;
  gap: 10px !important;
  height: 100% !important;
}

.ant-table-tbody > tr > td:first-child > button {
  color: #000 !important;
}
